.content {
  padding: 0 2.5%;
}
.content h1, .content h2, .content h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #001122;
}
.content h1 {
  font-size: 2.5rem;
}
.content h2 {
  font-size: 2rem;
}
.content h3 {
  font-size: 1.5rem;
}
.content p {
  margin: 1rem 0;
}
.content img {
  border-radius: 0.5rem;
}
.content a {
  color: #5f4dee;
}
.content b,
.content strong {
  color: #e65806;
}
.content blockquote {
  padding: 1rem 2rem;
  font-style: italic;
  border-radius: 0.5rem;
}
.content blockquote,
.content blockquote span {
  background: #f8fafc !important;
}

.lazy-img {
  filter: blur(5px);
}

